    <%- include("../includes/header.ejs") %>
    <title>Update Roles and User</title>
</head>

<body style="overflow: auto;">


    <section class="section countdown bg-black-10 text-center" aria-label="countdown" id="workshop">
        <div class="container">

            <p class="section-subtitle label-2">WELCOME</p>

            <h2 class="headline-1 section-title">Admin Details</h2>
            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">Email</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Remove as Admin</th>
                            <th scope="col">Delete User</th>
                            <th scope="col">Edit Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(user of adminUsers){ %>
                            <tr>
                                <td>
                                    <%=user.fullname%>
                                </td>
                                <td>
                                    <%=user.username%>
                                </td>
                                <td>
                                    Name : <%=user.role.creatorname%><br>
                                    Email : <%=user.role.creatoremail%>
                                </td>
                                <td>
                                    <form method="post" action="/admin/removeadmin/<%=user._id%>?_method=PATCH">
                                        <button>
                                            Make Normal User!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="/admin/users/<%=user._id%>?_method=DELETE">
                                        <button>
                                            DELETE!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="get" action="/admin/users/edit/<%=user._id%>">
                                        <button>
                                            EDIT!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

                <h2 class="headline-1 section-title" style="margin-block-start: 8rem;">Normal Users Details</h2>
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Assign Admin</th>
                            <th scope="col">Remove User</th>
                            <th scope="col">Edit Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(user of normalUsers){ %>
                            <tr>
                                <td>
                                    <%=user.fullname%>
                                </td>
                                <td>
                                    <%=user.username%>
                                </td>
                                <td>
                                    <%=user.gender%>
                                </td>
                                <td>
                                    <form method="post" action="/admin/users/<%=user._id%>?_method=PATCH">
                                        <button>
                                            Make Admin!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="/admin/users/<%=user._id%>?_method=DELETE">
                                        <button>
                                            Delete!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="get" action="/admin/users/edit/<%=user._id%>">
                                        <button>
                                            EDIT!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>