<%- include("../includes/header.ejs") %>
<title>Edit HeroSection</title>
</head>

<body>
    <h1 class="headline-1 section-title" style="text-align: center;">Edit your Hero Section</h1>
    <div class= "old edit-form">
        <p>OLD LABEL</p><input type="text" name="label" value="<%= data[0].label %>">
        <p>OLD Title</p><input type="text" name="title" value="<%=data[0].title  %>">
        <p>OLD Text below title</p><input type="text" name="text" value="<%=data[0].text  %>">
        <h1><a href="<%=data[0].image%>" target="_blank" style="color: greenyellow;" >View image!</a></h1>
    </div>


    <br>
    <br>

    <form class = "edit-form" method="post" enctype="multipart/form-data" action="/admin/herosection/edit/<%=data[0]._id%>/?_method=PATCH">
        <p>Edit LABEL</p><input type="text" name="label" value="<%= data[0].label %>">
        <p>Edit Title</p><input type="text" name="title" value="<%=data[0].title  %>">
        <p>Edit Text below title</p><input type="text" name="text" value="<%=data[0].text  %>">
        <br>
        <br>
        <p>Upload New Image ? (click the checkbox to edit image)</p>
        <input type="checkbox" name="imagecheckbox" id="imagecheck">
        <div class="imageupload">
            <input type="file" id="myFile" name="myFile" />
        </div>
        <button class="btn">Make Changes</button>
    </form>

    <script>
        let imageDiv = document.querySelector(".imageupload");
        imageDiv.style.display = "none";
        let imagecheck = document.querySelector("#imagecheck");

        imagecheck.addEventListener("click", () => {
            if (imagecheck.checked) {
                imageDiv.style.display = "block";
            } else {
                imageDiv.style.display = "none";
            }
        })
    </script>
</body>

</html>