<%- include("../includes/header.ejs") %>
    <title>HeroSection Details</title>
</head>

<body style="overflow: auto;">


    <section class="section countdown bg-black-10 text-center" aria-label="countdown" id="workshop">
        <div class="container">

            <p class="section-subtitle label-2">WELCOME</p>

            <h2 class="headline-1 section-title">Hero Section Details</h2>
            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                            <th scope="col">LABEL</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">TEXT BELOW TITLE</th>
                            <th scope="col">Image URL</th>
                            <th scope="col">Delete Slider</th>
                            <th scope="col">Edit Slider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(heroslider of heroSliders){ %>
                            <tr>
                                <td>
                                    <%=heroslider.label%>
                                </td>
                                <td>
                                    <%=heroslider.title%>
                                </td>
                                <td>
                                    <%=heroslider.text%>
                                </td>
                                <td>
                                    <h1><a href="<%=heroslider.image%>" target="_blank" style="color: greenyellow;" >View!</a></h1>
                                </td>
                                <td>
                                    <form method="post" action="/admin/herosection/<%=heroslider._id%>?_method=DELETE">
                                        <button>
                                            Delete!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="get" action="/admin/herosection/edit/<%=heroslider._id%>">
                                        <button>
                                            EDIT!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>


            <form id="addfield" class="addfield" enctype="multipart/form-data" action="/admin/herosection" method="post">
                <label for="name" class="formlabel">Add a new slider</label>
                <input type="text" id="name" name="label" placeholder="label" required>
                <input type="text" name="title" placeholder="title" required>
                <input type="text" name="text" placeholder="text below title" required>
                <!-- <input type="text" name="image" placeholder="Copy the file path of chosen image" required> -->
                <input type="file" id="myFile" name="myFile" />
                <button type="submit" class="btn btn-primary">ADD!</button>
            </form>

        </div>
    </section>
</body>

</html>