<%- include("../includes/header.ejs") %>
    <title>Edit Bookings</title>
    </head>

    <body>
        <h1 class="headline-1 section-title" style="text-align: center;">Edit Booking</h1>

        <br>
        <br>

        <form class="edit-form" method="post" action="/admin/bookings/edit/<%= userBooking._id %>/?_method=PATCH">
            <p>Edit Name</p><input name="name" type="text" value="<%= userBooking.name %>">
            <p>Edit Phone Number</p><input type="text" name="phone" value="<%= userBooking.phone %>">
            <p>Number Of Persons</p><input type="number" name="person" value="<%= userBooking.person %>">

            <p>Booking Timing</p>
            <div style="display: flex;gap: 2rem;">
                <input type="date" name="reservationdate" class="input-field"
                    value=<%=`${userBooking.time.getFullYear()}-${(userBooking.time.getMonth()+1).toString().padStart(2,'0')}-${userBooking.time.getDate().toString().padStart(2,'0')}`%>>

                <input name="time" class="input-field" type="time"
                    value=<%=`${(userBooking.time.getHours()).toString().padStart(2,'0')}:${(userBooking.time.getMinutes()).toString().padStart(2,'0')}`%>
                required>
            </div>


            <p>Message</p><textarea name="message" placeholder="Message" autocomplete="off" class="input-field"
                required=""><%= userBooking.message %></textarea>



            <button class="btn">Make Changes</button>
        </form>

    </body>

    </html>