<%- include("../includes/header.ejs") %>

    <title>Edit Event</title>
</head>

<body>
    <h1 class="headline-1 section-title" style="text-align: center;">Edit your Even Section</h1>
    <div class= "old edit-form">
        <p>OLD DATE</p><input type="text" value="<%= data[0].date %>">
        <p>OLD SUBTITLE</p><input type="text" value="<%=data[0].subtitle  %>">
        <p>OLD TITLE</p><input type="text" value="<%=data[0].title  %>">
        <h1><a href="<%=data[0].image%>" target="_blank" style="color: greenyellow;" >View image!</a></h1>
    </div>


    <br>
    <br>

    <form class="edit-form" method="post" enctype="multipart/form-data" action="/admin/eventsection/edit/<%=data[0]._id%>/?_method=PATCH">
        <p>Edit DATE</p><input type="date" name="date" value="<%= data[0].date %>">
        <p>Edit SubTitle</p><input type="text" name="subtitle" value="<%=data[0].subtitle  %>">
        <p>Edit Title</p><input type="text" name="title" value="<%=data[0].title  %>">
        <br>
        <br>
        <p>Upload New Image ? (click the checkbox to edit image)</p>
        <input type="checkbox" name="imagecheckbox" id="imagecheck">
        <div class="imageupload">
            <input type="file" id="myFile" name="myFile" />
        </div>
        <button class="btn">Make Changes</button>
    </form>

    <script>
        let imageDiv = document.querySelector(".imageupload");
        imageDiv.style.display = "none";
        let imagecheck = document.querySelector("#imagecheck");

        imagecheck.addEventListener("click", () => {
            if (imagecheck.checked) {
                imageDiv.style.display = "block";
            } else {
                imageDiv.style.display = "none";
            }
        })
    </script>
</body>

</html>