<%- include("../includes/header.ejs") %>
<title>Testimonial Details</title>
</head>

<body style="overflow: auto;">



    <section class="section countdown bg-black-10 text-center" aria-label="countdown" id="workshop">
        <div class="container">

            <p class="section-subtitle label-2">WELCOME</p>

            <h2 class="headline-1 section-title">Testimonials Section Details</h2>
            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                           
                            <th scope="col">NAME</th>
                            <th scope="col">REVIEW</th>
                            <th scope="col">SUGGESTION</th>
                            <th scope="col">Image</th>
                            <th scope="col">Delete Slider</th>
                            <th scope="col">Edit Slider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(testimonial of testimonials){ %>
                            <tr>
                                <td>
                                    <%=testimonial.user.fullname%>
                                </td>
                                <td>
                                    <%=testimonial.review%>
                                </td>
                                <td>
                                    <%=testimonial.suggestion%>
                                </td>
                                <td>
                                    <h1><a href="<%=testimonial.user.profilepicture.imagelink%>" target="_blank" style="color: greenyellow;" >View!</a></h1>
                                </td>
                                <td>
                                    <form method="post" action="/admin/testimonialsection/<%=testimonial._id%>?_method=DELETE">
                                        <button>
                                            Delete!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="get" action="/admin/testimonialsection/edit/<%=testimonial._id%>">
                                        <button>
                                            EDIT!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>


            <!-- <form id="addfield" enctype="multipart/form-data" class="addfield" method="post" action="/admin/testimonialsection" >
                <label for="name" class="formlabel">Add a New Testimonial</label>
                <input type="text" id="name" name="fullname" placeholder="NAME" required>
                <input type="text" name="review" placeholder="REVIEW" required>
                <input type="file" id="myFile" name="myFile" />
                <button type="submit" class="btn btn-primary">ADD!</button>
            </form> -->

        </div>
    </section>
</body>

</html>