<%- include("../includes/header.ejs") %>
<title>Edit Workshop</title>
</head>

<body>
    <h1 class="headline-1 section-title" style="text-align: center;">Edit your Workshop</h1>
    <div class= "edit-form old">
        <p>OLD LABEL</p><input type="text" name="label" value="<%= workshopData.label %>">
        <p>OLD Title</p><input type="text" name="title" value="<%=workshopData.title  %>">
        <p>OLD Workshop Details</p><input type="text" name="text" value="<%=workshopData.text%>">
        <p>OLD Workshop Time</p><input type="text" value="<%=workshopData.time%>">
    </div>
    
    <form id="addfield" class="addfield edit-form"  method="post" action="/admin/workshopsection/edit/<%=workshopData._id%>?_method=PATCH">
        <label for="name" class="formlabel">Edit workshop</label>
        <input type="text" id="name" name="label" placeholder="label" value ="<%=workshopData.label%>" >
        <input type="text" name="title" placeholder="title" value ="<%=workshopData.title %> " >
        <input type="text" name="text" placeholder="text below title"  value ="<%=workshopData.text%>">
        <p style="margin-block-start: 1rem;margin-block-end: 1rem;color:hsl(38, 61%, 73%);">Enter the Date of the workshop</p>
        <input type="date" id="myFile" name="date" />
        <p style="margin-block-start: 1rem;margin-block-end: 1rem;color:hsl(38, 61%, 73%);">Enter the time of the workshop</p>
        <input type="time" name="time" required>
        <button type="submit" class="btn btn-primary">ADD!</button>
    </form>
</body>

</html>