<%- include("../includes/header.ejs") %>
<title>Workshops Organized</title>
</head>

<body style="overflow: auto;">



    <section class="section countdown[0] bg-black-10 text-center" aria-label="workshop[0]" id="workshop">
        <div class="container">

            <p class="section-subtitle label-2">WELCOME</p>

            <h2 class="headline-1 section-title">WorkShop Section Details</h2>
            <h2 class="headline-1 section-title">Current Workshops</h2>
            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                            <th scope="col">LABEL</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">TEXT BELOW TITLE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">Get Details</th>
                            <th scope="col">Edit Countdown</th>
                            <th scope="col">Delete Slider</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% currWorkshops.forEach((workshop)=> { %>
                            <tr>
                                <td>
                                    <%=workshop.label%>
                                </td>
                                <td>
                                    <%=workshop.title%>
                                </td>
                                <td>
                                    <%=workshop.text%>
                                </td>

                                <td>
                                    <%=workshop.time%>
                                </td>
                                <td>
                                    <form method="get" action="/admin/workshopregistration/<%=workshop._id%>">
                                        <button>
                                            Get Details!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="get" action="/admin/workshopsection/edit/<%=workshop._id%>">
                                        <button>
                                            EDIT!
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post"
                                        action="/admin/workshopsection/<%=workshop._id%>?_method=DELETE">
                                        <button>
                                            Delete!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tr>
                            <%}); %>
                    </tbody>
                </table>
            </div>

            <h2 class="headline-1 section-title">Past Workshops</h2>
            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                            <th scope="col">LABEL</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">TEXT BELOW TITLE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">Get Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% pastWorkshops.forEach((workshop)=> { %>
                            <tr>
                                <td>
                                    <%=workshop.label%>
                                </td>
                                <td>
                                    <%=workshop.title%>
                                </td>
                                <td>
                                    <%=workshop.text%>
                                </td>

                                <td>
                                    <%=workshop.time%>
                                </td>
                                <td>
                                    <form method="get" action="/">
                                        <button submit="none">
                                            Get Details!
                                        </button>
                                    </form>
                                </td>
                                <%}); %>
                    </tbody>
                </table>
            </div>


            <form id="addfield" class="addfield" method="post" action="/admin/workshopsection">
                <label for="name" class="formlabel">New workshop</label>
                <input type="text" id="name" name="label" placeholder="label" value="">
                <input type="text" name="title" placeholder="title" value=" ">
                <input type="text" name="text" placeholder="text below title" value="">
                <p style="margin-block-start: 1rem;margin-block-end: 1rem;color:hsl(38, 61%, 73%);">Enter the Date of
                    the workshop</p>
                <input type="date" id="myFile" name="date" />
                <p style="margin-block-start: 1rem;margin-block-end: 1rem;color:hsl(38, 61%, 73%);">Enter the time of
                    the workshop</p>
                <input type="time" name="time" required>
                <button type="submit" class="btn btn-primary">ADD!</button>
            </form>

        </div>
    </section>
</body>

</html>